name: CD - Docker Build & Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Vérification anti-secrets avant déploiement
      - name: Scan secrets with TruffleHog
        uses: trufflesecurity/trufflehog@main
        with:
          path: .

      # Connexion à Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build et push l'image Nginx avec les fichiers statiques
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/static-web-app:latest
          file: Dockerfile

      # Déploiement (ex: SSH, AWS CLI...)
      - name: Deploy to server
        run: echo "Déploiement effectué ! (ajoute SSH ou AWS CLI pour le vrai déploiement)"
